.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
    display: block;
}

.form-group.form-search input[type="text"]{
    max-width: 200px;
}
.form-group.form-search input[type="submit"] {
    max-width: 110px;
}

input[type="text"],
input[type="password"] {
    height: 34px;
    width: 70%; 
    color: #646E80;
    border: 1px solid #B3B6B8;
    background: none;
    box-shadow: none;
    border-radius: 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 0 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input:focus{
    border: 1px solid #66afe9;
}

.btn {
    background-color: var(--primary);
    height: 34px;
    color: #fff;
    border: none;
    border-radius:  2px; 
    padding: 7px 30px;
    width: 30%;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 3px;
}


.btn:hover, 
.btn.active{
    background-color: var(--blue2) ;
}

.error {
    background-color: var(--danger);
    color: white; 
    border-radius: 2px;;
    /* color: var(--danger); */
    padding: 3px 8px;

    font-size: 12px;
    margin-top: 20px;;
}